a{
    text-decoration: none;
}
.home{
    margin-left: 140px;
    
}

.ads{
    display: flex;
    align-items: center;
    background-color: #1a1919;
    border-radius: 10px;
    margin: 20px 0px;
    color: white;
    width: 1000px;
   
}
.adsImage{
    flex: 1;
}

.ads .adsImage img{
    width: 100%;
    height: auto;
    border-left:2px solid #000027;
    border-right:2px solid ;
    border-radius: 10px;
}
.det{
    padding: 0px 80px 0px 10px;
    width: 400px;
}


.withBlueAds{
    display: flex;
 }
.withBlueAds #head{
 
    font-size: 15px;
    display: block;
    font-weight: bolder;
    color: white;
}

.withBlueAds img{
    width: 3vw;
    height: auto;
}
.ads a{
    text-decoration: none;
}
.ads button{
    background-color: rgb(51, 48, 48);
    align-items: center;
    padding: 15px 40px;
    height: 37px;
    font-weight: bolder;
    font-size: 20px;
   
    color: white;
    margin-top: 30px;
    text-align: center;
    border: none;
    display: flex;
    border-radius: 4px;
}

.withBlueAds #ad{
    background-color: red;
    padding: 0px 3px;
    border-radius: 5px;
    margin-left: 5px;
    color: black;
}



#carouselExampleAutoplaying .details{
    text-align: start;
    width: 500px;
    transform: translateY(-50px);
    
}
#carouselExampleAutoplaying #btn{
 background-color: rgba(0, 0, 0, 0.39);
 align-items: center;
 display: flex;
 height: 40px;
 width: 200px;
 border: none;
 border-radius: 10px;
}




@media screen and (max-width: 768px) {
    .home{
        margin-left: 0px;
        width: 100%;
        height: auto;
    }

    .ads {
        flex-direction: column;
        width: 100%; /* Content will wrap if necessary */
        padding: 10px;
        background-color: #1a1919cb;
    }



    .det {
        padding: 0 10px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width: 100%;
    }

    .adsImage img {
        width: 40%;
        height: auto;
    }


    .ads button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-left: 2px;
    }



    .withBlueAds img {
        width: 15vw;
    }
    .movies{
        display: inline-block;
        margin: 0px 5px;
        width: 40%;
    }




    .movies .moviImage{
        border-top-left-radius:10px ;
        width: 40%;
        height: auto;
        
      }

      .movies:hover{
        border: 1px solid red;
        .details{
            width: 40%;
            display: none;
          }
      }

      
      .details{
        width: 40%;
        display: none;
      }

}