.navabar{
    width: 100px;
    background-color: black;
    display: inline-block;
    position: fixed;
    z-index: 1;
   text-align: center;
   border-right: solid 2px #000080 ;
   
}
.navabar p{
    background-color:#333333;
    color: goldenrod;
    border-radius: 10px;
    margin: 6px 5px;
    font-size: 13px;
    padding: 0px px;
}
.navabar .link{
    margin: 50px 0px;
}
.link #linkname{
    display: none;
    font-size: 20pxpx;
}

.parentlink:hover{
    #linkname{
        display:inline;
        font-weight: bolder;
        color:darkgray;
      
       position: fixed;
       
    }
   
}


.link:hover{
   
    #linkname{
        font-size: 20px;
        color: white;
        
    }
    #symbol{
  
       font-size: 30px;
       color: white;
      }
   
}
#symbol{
  
    color:darkgray;
  }
  

  @media (max-width: 600px) {
    .navabar {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        border-right: none;
        border-top: solid 2px #000080;
    }

    .parentlink {
        display: flex;
        justify-content: space-around;
    }

    .navabar .link {
        margin: 10px 0;
    }

    .link #linkname {
        display: none;
    }

    
}